@font-face {
    font-family: Anurati;
    src: url("../public/Anurati-Regular.otf");
  }

.dashboardBackground{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background: #17181f;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigationBar{
    display: flex;
    height:  9.23vh;
    width: 100vw;
}

.navigation{
    display: flex;
    flex-direction: row;
    height: 9.23vh;
    width: 100vw;
}

.logo{
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.brandName{
    margin-top: auto;
    margin-bottom: auto;
}

.brandName,.navLinks{
    color: #cb69c1;
    text-decoration: none;
    font-family: 'macondo', cursive;
}

.brandName{
    font-size: calc(30px + ( 40 - 30 ) * (( 100vw - 600px ) / ( 1200 - 600)));
    margin-left: 1vw;
    font-family: Anurati;
}

.navLinks{
    position: relative;
    font-size: calc(16px + ( 24 - 16 ) * (( 100vw - 600px ) / ( 1200 - 600)));
    align-self: center;
    cursor: pointer;
}
  
.navItemsGroup{
    display: flex;
    flex-direction: row;
    margin-right: 10vw;
    margin-left: auto;
    padding: inherit;
    column-gap: 2rem;
}

.menuDropdown{
    display: block;
    position: absolute;
    background: rgba(14, 52, 124, 0.288);
    backdrop-filter: blur(1vw);
    width: 20%;
    top: 9.23vh;
    right: 1vw;
  }